
body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    overflow: hidden;
  }
  
  nav {
      
    color: #2E7D32; 
    padding: 10px 20px;
    height: 8vh;
    width: 50%;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    border-bottom:1px solid #2E7D32 ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .brand-logo {
    text-decoration: none;
    color: inherit;
  }
  
  
  #nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%; 
    margin: 0; 
    padding: 0; 
    margin-right: 2rem;
  }
  
  #nav-mobile li {
    list-style-type: none; 
  }
  
  #nav-mobile a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
  }
  
  .nav-wrapper a {
    position: relative;
    font-size: 20px;
  }
  
  .nav-wrapper a:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2E7D32; 
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .nav-wrapper a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .logout-navbar{
    border: 1px solid #2E7D32 ;
    padding: 10px;
    border-radius:2rem ;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  .logout-navbar:hover{
    background-color: #2E7D32;
    color: white !important;
    cursor: pointer;
  }
  
  
  .logout-navbar::before{
    display: none;
  }

  .main-div-home {
    display: grid;
   
    
    width: 95%;
    margin: auto;
    height: 83vh;
}
  

  .home-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    flex-direction: column;
}

.title-home-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;

}

.title-home-div::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #2E7D32; 
    animation: underlineAppearDisappear 5s linear infinite;
}

@keyframes underlineAppearDisappear {
    0%, 100% { width: 0; } 
    50% { width: 100%; } 
}





.home-title h2:nth-of-type(1) {
    color: #2E7D32; 
    font-size: 55px; 
    margin-right: 1rem;
}

.home-title h2 {
    font-size: 55px; 
}


.homepage-div-buttons{
  padding-top: 5rem;
}


.button-home-cards{
  position: relative;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-home-cards::before {
  content: "Lets go!";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background:rgb(23, 133, 74) ;
  transform: translate(0%,100%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-home-cards::after {
  content: "Login";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-home-cards:hover::before {
  transform: translate(0%,0%);
}

.button-home-cards:hover::after {
  transform: translate(0%,-200%);
}

.button-home-cards:focus {
  outline: none;
}

.button-home-cards:active {
  scale: 0.95;
}


.button-home-cards2{
  position: relative;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-home-cards2::before {
  content: "See";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background:rgb(23, 133, 74) ;
  transform: translate(0%,100%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-home-cards2::after {
  content: "About us";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-home-cards2:hover::before {
  transform: translate(0%,0%);
}

.button-home-cards2:hover::after {
  transform: translate(0%,-200%);
}

.button-home-cards2:focus {
  outline: none;
}

.button-home-cards2:active {
  scale: 0.95;
}


.modal {
  display: none;
  position: fixed;
  z-index:1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 13123123;
  max-width: 40%;
  text-align: center;
  height: 50%;
  border-radius: 3rem;

}

#qrcode{
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 1002;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width: 1000px) {


  .modal-content {
   
    max-width: 80%;
    height: 40%;
    
  }

  nav {
    width: 80%;
  }
  .large-nav {
      display: none;
  }

  .nav-wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
  }

  .title-home-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
    flex-direction: column;
    width: 90%;

}

.home-title h2:nth-of-type(1) {
  color: #2E7D32; 
  font-size: 40px; 
  margin-right: 1rem;
}

.home-title h2 {
  font-size: 35px; 
}
}


@media screen and (min-width: 1001px) {
  .small-nav {
      display: none;
  }
}